<div layout="column" layout-fill="" flex layout-align="center center" flex="50">
  <md-content flex>
    <md-card class="color-white layout-padding  layout-sm-column layout-column" layout-padding="" layout="column" layout-sm="column">
      <md-card-title>
        <md-card-title-text> <span class="md-headline">Login </span> </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form layout="column" name="loginForm">  
          <md-input-container class="md-icon-float md-block" ng-readonly="formInput">
            <label>Username</label>
            <md-icon  class="name"><i class="material-icons">account_box</i></md-icon>
            <input ng-model="user.username" type="text">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password(requerido)</label>
            <md-icon class="name"><i class="material-icons">vpn_key</i></md-icon>
            <input ng-model="user.password" type="password" ng-required="true" ng-readonly="formInput">
          </md-input-container>
          <md-button type='submit' ng-click="login()" class="md-raised md-primary  md-whiteframe-z4">
            <span flex>Enviar</span>
          </md-button>
          <md-button ng-click="reset()" class="md-raised  md-primary md-whiteframe-z4">
            <span flex>Limpiar</span>
          </md-button>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>
