<div layout="row">
  <md-button class="md-raised md-primary" ng-click="startPacketCollection()">Iniciar recoleccion de Datos</md-button>
  <md-button class="md-raised md-primary" ng-click="refreshStat()">Actualizar Stat</md-button>
</div>
<!-- <div layout-gt-sm="row"> -->
<div layout="row" ng-init='load()'>
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Total de paquetes capturados: {{packets.length}}</span>
        <span class="md-subhead">Separados por su ultima capa</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <canvas id="pie" class="chart chart-polar-area" chart-data="dataPieChart" chart-labels="labelsPieChart"></canvas>
    </md-card-content>
  </md-card>

  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Total de paquetes CoAP: {{coapPackets.length}}</span>
        <span class="md-subhead">Cantidad de direcciones de paquetes salientes: </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <canvas id="radar1" class="chart chart-bar" chart-data="dataChartCoapCode" chart-labels="labelsChartCoapCode" chart-options="options"></canvas>
    </md-card-content>
  </md-card>
</div>

<div layout="row" ng-init='load()'>
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Total de paquetes CoAP: {{coapPackets.length}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span class="md-subhead">Cantidad de direcciones de paquetes salientes: </span>
      <canvas id="bar1" class="chart chart-bar" chart-data="dataBarChartSrc" chart-labels="labelsBarChartSrc" chart-options="options"></canvas>
    </md-card-content>
  </md-card>

  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Total de paquetes CoAP: {{coapPackets.length}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span class="md-subhead">Paquetes </span>
      <canvas id="bar2" class="chart chart-bar" chart-data="dataBarChartDst" chart-labels="labelsBarChartDst" chart-options="options"></canvas>
    </md-card-content>
  </md-card>
</div>

<div layout="row">
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Raw Packets</span>
        <md-input-container>
           <label>Filtrar...</label>
           <input ng-model="searchPacket">
         </md-input-container>
      </md-card-title-text>
    </md-card-title>
    <md-card-content  flex>
    <md-table-container>
      <table md-table md-row-select multiple ng-model="packetsSelected">
        <thead md-head>
          <tr md-row>
            <th md-column>#</th>
            <th md-column>PAN-ID</th>
            <th md-column>Capa más Alta</th>
            <th md-column>IPv6 Local Origen</th>
            <th md-column>IPv6 Local Destino</th>
            <th md-column>Codigo Coap</th>
            <th md-column>IPv6 Global Origen</th>
            <th md-column>IPv6 Global Destino</th>
            <th md-column>Puerto Origen</th>
            <th md-column>Puerto Destino</th>
            <th md-column>Capas</th>
          </tr>
        </thead>
        <tbody md-body>
          <!-- <tr md-row ng-repeat="packet in packets track by $index | limitTo: query.limit: (query.page - 1) * query.limit"> -->
          <tr md-row ng-repeat="packet in packets | limitTo: query.limit: (query.page - 1) * query.limit | filter:searchPacket">
          <!-- <tr md-row ng-repeat="packet in packets | orderBy: panid | limitTo: query.limit: (query.page - 1) * query.limit"> -->
          <!-- <tr md-row ng-repeat="item in array | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit"> -->
            <td md-cell>{{$index + 1}}</td>
            <td md-cell>{{packet.panid}}</td>
            <td md-cell>{{packet.highest_layer}}</td>
            <td md-cell>{{packet.local_ipv6_src}}</td>
            <td md-cell>{{packet.local_ipv6_dst}}</td>
            <td md-cell>{{packet.coap_code}}</td>
            <td md-cell>{{packet.ipv6_src}}</td>
            <td md-cell>{{packet.ipv6_dst}}</td>
            <td md-cell>{{packet.src_port}}</td>
            <td md-cell>{{packet.dst_port}}</td>
            <td md-cell>
              <span ng-repeat="layer in packet.layers track by $index">{{layer}}&nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 30, 50, 100, 200]" md-page="query.page" md-total="{{packets.count}}" md-page-select></md-table-pagination>
  </md-card-content>

<!--
    <md-card-content  flex>
      <md-content flex style="background: #ffffff;height:150px;max-height:150px;">
            <div layout="row" layout-align="start start" ng-repeat="packet in packets" flex>
              <p flex class="md-caption no-margin"><strong>{{packet.panid}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.highest_layer}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.local_ipv6_src}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.local_ipv6_dst}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.ipv6_src}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.ipv6_dst}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.coap_code}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.src_port}}</strong></p>
              <p flex class="md-caption no-margin"><strong>{{packet.dst_port}}</strong></p>
            </div>
      </md-content>
    </md-card-content> -->
    <!-- <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions> -->
  </md-card>
<!--
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card> -->
</div>

<!--
<div layout-gt-md="row">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>
</div> -->
