$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;

/**
* Colors
*/
$bg-color: #eee;
$text-color: #7A7A7A;
$primary: #65294b;
$table-header-font-weight:      400;
$table-header-font-color:       #757575;

$table-cell-padding:            1.2rem;

$table-bg:                      #fff;
$table-bg-accent:               #f5f5f5;
$table-bg-hover:                rgba(0,0,0,.12);
$table-bg-active:               $table-bg-hover;
$table-border-color:            #e0e0e0;


// MIXINS
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

.md-button.md-small {
    min-width: 1%;
    font-size: 10px;
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}

.md-button.left {
    border-radius: 10px 0 0 10px;
}

.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button.right {
    border-radius: 0 10px 10px 0;
}

.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

body {
  color: $text-color;
  background-color: $bg-color;
}

md-content {
  background-color: $bg-color;
}

.bg-color {
  background-color: $bg-color;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}
.primaryBgColor{
	color:white;
}
